body{
	/* Background color */
	background-color: rgb(162, 117, 80); 
	margin: 0;
	padding: 0;
	width: 100%;
	height: 100%;
	overflow: hidden;
}


.game-container{
	/* Background color */
	height: calc(100vh - 50px);
	width: 100%;
	margin: 0;
	padding: 0;
	display: flex; /* Change this line */
    justify-content: center; /* Add this line */
    align-items: center; /* Add this line */
	
}

.color-underlay{
	height: calc(100vh - 50px);
	width: 80%;
	background-color: rgb(249, 206, 167);
	display: flex; /* Change this line */
    justify-content: center; /* Add this line */
    align-items: center; /* Add this line */
}

nav {
	background-color: #ffffff;
    list-style-type: none;
    display: flex;
    padding: 10px;
    margin: 0;
    height: 50px;
    align-items: center; /* Add this line */
}

nav img {
	height: 55px;
	padding-left: 5px;
}
#login-li{
    margin-left: auto;
    margin-right: 0;
    justify-content: flex-end; /* Change this line */
}
form {
	display: block;
	flex-direction: column;
	gap: 20px;
	padding-right: 10px;
}

#username-field, #password-field{
	width: auto;
	margin-left: 5px;
	height: 30px;
	padding: 0 0 0 16px;
	border-radius: 4px;
	outline: none;
	background-color: #F2F2F2;
	border: 1px solid #e5e5e500;
	transition: all 0.3s cubic-bezier(0.15, 0.83, 0.66, 1);
} 




.contentContainer{
	background-color: aliceblue;
	height: 92%;
	width: 80%;
	display: flex;
	justify-content: center;
	align-items: center;
}
#centerBody{
	background-color: blue;
	width: 95%;
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;

}

/* Centers canvas without changing width or height */
#centerCanvas{
	/* background-color: aliceblue; */
	margin-left: -1%;
	padding: 0;
	/* opacity: 50%; */
	display: flex;
	justify-content: center;
	align-items: center;

}

/* Center game canvas */
#canvasContainer {
	max-width: 95%; /* Ensure the canvas never exceeds the width of the window */
	overflow: hidden; /* Hide any overflow if the canvas is larger than the container */

	display: flex;
	justify-content: center;
	align-items: center;
	width: 1920px; /* Do not change, it gets redefined in canvas.js */
	border: 3px solid rgb(221, 205, 57);
	padding: 10px;
}

/* Load fonts */
@font-face {
	font-family: 'Pixel';
	src: url('assets/fonts/publicpixel.ttf') format('truetype');
	/* You can include additional font formats here for better browser compatibility */
}