body, html {
    /* Background color */
    background-color: #000000;
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    /* overflow: hidden; /* Prevent scrollbars */
}

/* Center game canvas */
#canvasContainer {
    margin: auto;
    margin-left: auto;
    margin-right: auto;
    
    max-width: 95%; /* Ensure the canvas never exceeds the width of the window */
    overflow: hidden; /* Hide any overflow if the canvas is larger than the container */

    display: flex;
    justify-content: center;
    align-items: center;
    width: 1920px; /* Do not change, it gets redefined in canvas.js */
    border: 3px solid rgb(221, 205, 57);
    padding: 10px;
}